---
permalink: /publications/
title: "Publications"
---

{% assign publications = site.data.publications %}

{% if site.publication_category %}
  {% assign categories = site.publication_category %}
{% else %}
  {% assign categories = "" %}
{% endif %}

{% for category in categories %}
  {% assign category_name = category[0] %}
  {% assign category_title = category[1].title %}
  
  <h2 class="title category-title">{{ category_title }}</h2>

  <div class="category-list">
    {% for publication in publications %}
      {% if publication.category == category_name %}
        <div class="category-list-item">
          <p>
            {% if publication.url %}
              <a href="{{ publication.url }}">{{ publication.title }}</a>
            {% else %}
              {{ publication.title }}
            {% endif %}
          </p>
          <p>{{ publication.venue }}, {{ publication.date | date: '%Y' }}.</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
